/* import of "Dosis" (font to use) */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

/* Whole document */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    height: 85vh;
    max-width: 100vw;
    font-family: Dosis;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 0;
}

body {
    padding: 10px;
}

#container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    z-index: 5;
}

#main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    font-size: 50px;
    margin: 2px;
    width: calc(50% - 4px);
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#height_bar {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: aqua;
    opacity: 1;
    margin-top: 100vh;
}