@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

#top {
    height: 5vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ff00;
    font-size: 4vh;
    width: 25vw;
    border-bottom-right-radius: 5vh;
}